{%extends 'base.html'%}
{% load static %}

{% block 'titulo_page' %}
    Contatos
{%endblock%}

{% block 'conteudo'%}

<h1 class="fs-4"><span class="me-2 text-success">|</span>Contatos</h1>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card p-2 border-success mb-4" style="width: 18rem;">
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <img src="{% static 'img/rachel.jpg' %}" class="card-img-top rounded-circle w-25" alt="...">
                <h5 class="card-title" style="font-size:14px">Engª Rachel Andrade</h5>
            </div>
          <div class="card-body">
            <span class="text-start" style="font-size:12px">p.rachelandrade@gmail.com</span><br>
            <span class="text-start" style="font-size:12px">(24) 99229-0771</span><br>
            <span class="text-start" style="font-size:12px">Engenharia Civil</span><br>
            <span class="text-start" style="font-size:12px">univassouras</span>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-2 border-success" style="width: 18rem;">
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <img src="{% static 'img/kelvyn1.jpg' %}" class="card-img-top rounded-circle w-25" alt="...">
                <h5 class="card-title" style="font-size:14px">Engº Kelvyn Lopes Telles</h5>
            </div>
          <div class="card-body">
            <span class="text-start" style="font-size:12px">kelvyn.telles@gmail.com</span><br>
            <span class="text-start" style="font-size:12px">(24) 99228-1699</span><br>
            <span class="text-start" style="font-size:12px">Engenharia de Software</span><br>
            <span class="text-start" style="font-size:12px">univassouras</span>
          </div>
        </div>
    </div>
</div>

{%endblock%}