{%extends 'base.html'%}
{% load static %}

{% block 'titulo_page' %}
    Importância Ambiental
{%endblock%}

{% block 'conteudo'%}

<div>
    <h1 class="fs-4"><span class="me-2 text-success">|</span>Importância Ambiental</h1>
    <div>
        <img src="{% static 'img/sustentabilidade.jpg' %}" class="img-fluid float-md-start me-3" style="width:350px">
        <p class="text-start">Com o poder das conferências e políticas públicas na prática de preservação e conservação do meio ambiente, em 2015 aconteceu a Assembleia Geral das Nações Unidas (AGNU), composta por 193 Estados-membros da ONU (Organização das Nações Unidas) que definiram metas a serem cumpridas a nível mundial, nas esferas sociais, econômicas, ambientais e institucionais, chamadas de Objetivos de Desenvolvimento Sustentável (ODS), compostos de 17 objetivos e 169 metas globais a serem atingidos até o ano de 2030, integrando assim a Agenda 2030. </p>
        <p class="text-start">Sendo dos 17 ODS, a utilização de resíduos de fibras vegetais atende a 4 deles, que são os objetivos 8, 9, 11 e 12.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card text-bg-success mb-3">
          <div class="card-header">ODS 8 – TRABALHO DECENTE E CRESCIMENTO ECONÔMICO</div>
          <div class="card-body">
            <p class="card-text" style="font-size:12px; min-height: 130px">Com o objetivo promover o crescimento econômico inclusivo e sustentável, emprego pleno, produtivo e decente para todos. Atingindo níveis mais elevados de produtividade econômica, com políticas orientadas para o desenvolvimento de atividades como; empreendedorismo, criatividade e inovação. E incentivando o crescimento de pequenas e médias empresas por meio do acesso a serviços financeiros.</p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-bg-danger mb-3">
          <div class="card-header">ODS 9 – INDÚSTRIA, INOVAÇÃO E INFRAESTRUTURA</div>
          <div class="card-body">
            <p class="card-text" style="font-size:12px; min-height: 130px">Têm o objetivo de construir infraestruturas resilientes, promover a industrialização inclusiva e sustentável e fomentar a inovação, fortalecendo as pesquisas científicas, melhorando as capacidades tecnológicas de setores industriais em todos os países, principalmente os em desenvolvimento, aumentando assim, até 2030 o número de trabalhadores de pesquisa e desenvolvimento.</p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-bg-warning mb-3">
          <div class="card-header">ODS 11 – CIDADES E COMUNIDADES SUSTENTÁVEIS</div>
          <div class="card-body">
            <p class="card-text" style="font-size:12px; min-height: 130px">Têm como objetivo até 2030 tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis. Principalmente dando apoio aos países menos desenvolvidos, por meio de assistência técnica e financeira, para construções sustentáveis e resilientes, utilizando materiais locais, com isso reduzindo também o impacto ambiental gerado por elas.</p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-bg-info mb-3">
          <div class="card-header">ODS 12 – CONSUMO E PRODUÇÃO RESPONSÁVEIS</div>
          <div class="card-body">
            <p class="card-text" style="font-size:12px; min-height: 130px">Objetiva-se em reduzir substancialmente até 2030 a geração de resíduos por meio da prevenção, redução, reciclagem e reuso. Incentivando principalmente grandes empresas e transnacionais a adotar práticas sustentáveis. Também apoiando países em desenvolvimento a fortalecer suas capacidades científicas e tecnológicas para mudar para padrões mais sustentáveis de produção e consumo, com isso, garantindo que as pessoas, em todos os lugares, tenham informação relevante e conscientização para o desenvolvimento sustentável e estilos de vida em harmonia com a natureza.</p>
          </div>
        </div>
    </div>
</div>


{%endblock%}