{%extends 'base.html'%}
{% load static %}

{% block 'titulo_page' %}
    Sugerir Tópico
{%endblock%}

{% block 'conteudo'%}

<div>
    <h1 class="fs-4"><span class="me-2 text-success">|</span>Criar Nova Sugestão de Tópico</h1>
    <form action="{% url 'salvar_sugestao_topico' %}" method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Titulo:</label>
            <input type="text" class="form-control"  name="titulo">
        </div>
        <div class="mb-3">
            <label class="form-label">Resumo:</label>
            <textarea class="form-control" aria-label="With textarea" name="resumo"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Nome do author:</label>
            <input type="text" class="form-control"  name="nome">
        </div>
        <div class="mb-3">
            <label class="form-label">Contato:</label>
            <input type="number" class="form-control"  name="contato">
        </div>
        {% if erro %}
            <h4 style="margin:10px 0; color: #b81414; font-size: 18px;">{{ erro }}</h4>
        {% endif %}
        <button type="submit" class="btn btn-success w-100">Criar Sugestão</button>
    </form>
</div>

{%endblock%}