{%extends 'base.html'%}
{% load static %}

{% block 'titulo_page' %}
    Tipos de Fibras
{%endblock%}

{% block 'conteudo'%}

<div>
    <h1 class="text-lg font-bold"><span class="mr-2 text-green-700">|</span>Tipos de Fibras</h1>
    <div class="mt-4">
        <img class="md:float-left mt-5 w-full md:w-96 md:mr-5 rounded" src="{% static 'img/sustentabilidade.jpg' %}">
        <br>
        <p class="mb-2 text-base text-zinc-400">De acordo com pesquisadores consolidados no ramo da sustentabilidade na construção civil, Agopyan, Toledo, Savastano e Izquierdo, as fibras de sisal, juta e coco, são as mais recomendadas para o uso em reforço de matrizes cimentícias, conferindo a mesma resistência mecânica à tração e flexão, podendo serem usadas principalmente na utilização de um substrato de reparo.</p>
        <p class="mb-2 text-base text-zinc-400">Através de sua vasta pesquisa sobre fibras vegetais como reforço em matrizes estruturais, o pesquisador Agopyan (1991) afirma que no Brasil e no exterior as fibras vegetais mais pesquisas nesse ramo são as fibras de coco e sisal, pois são fartamente disponíveis a preço relativamente baixo. E para uso como reforço de matrizes cimentícias, usa-se fibras de menor comprimento, que são normalmente rejeitadas pelas indústrias de amarra, estofados e tecelagem, que atuam como as principais consumidoras destas fibras.</p>
        <p class="mb-2 text-base text-zinc-400">A fibra de sisal apresenta como principais características a massa específica aparente inferior a real, levando a uma grande absorção de água (maior que 90%), afetando assim seu grau de aderência com a matriz cimentícia. A absorção calculada com base na norma da Associação Brasileira de Normas Técnicas (ABNT NBR 9778/2005), ocorre, nos primeiros 15 minutos, pelo menos 60% da absorção total, atingindo, após 24 horas, cerca de 85% do total (Savastano, 2000). Também apresentam baixo módulo de elasticidade e grandes mudanças na sua secção transversal, ao longo do seu comprimento. Por apresentarem perda da ductilidade em meio úmido e alcalino, a elevada absorção de água e a heterogeneidade de suas propriedades físicas e mecânicas são os fatores mais importantes que interferem negativamente no desempenho das fibras vegetais, quando aplicadas para reforço de matrizes à base de cimento Portland (Izquierdo, 2011).</p>
        <p class="mb-2 text-base text-zinc-400">A fibra de juta tem como propriedades a alta resistência à tração (aproximadamente 353 MPa) e módulo de elasticidade elevado (26 GPa), se comparado a outras fibras, e resultados de teores consideráveis de celulose e pequeno ângulo microfibrilar (Fidelis et al., 2014).</p>
        <p class="mb-2 text-base text-zinc-400">E a fibra de coco, apresenta constituição de 32-53% de celulose, e ângulo microfibrilar entre 30 a 49º aproximadamente. Seus valores de resistência à tração e módulo de elasticidade valem 192 MPa e 3 GPa, respectivamente. (Derfoirdt et al., 2010).</p>
    </div>
</div>

{%endblock%}